In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [11]:
data = pd.read_csv("weight-height.csv")

data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [12]:
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [13]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()

In [23]:
data.iloc[:, 1:] = std_scaler.fit_transform(data.iloc[:, 1:])
data.Gender = label_enc.fit_transform(data.Gender)

# print(data.iloc[:, 1:])

In [24]:
data.head()

   Gender    Height    Weight
0       1  1.944061  2.505797
1       1  0.627537  0.027101
2       1  2.012443  1.597806
3       1  1.394060  1.825222
4       1  0.913421  1.398750

In [30]:
X = data.iloc[:, 1:]
y = data.iloc[:, 0]

In [32]:
log_reg = LogisticRegression()
x_train, x_test, y_train, y_test = train_test_split(X, y)

model = log_reg.fit(x_train, y_train)

In [33]:
accuracy = model.score(x_test, y_test)

In [34]:
accuracy

0.9152

In [35]:
joblib.dump((model, std_scaler), "model-weight-height.pkl")

['model-weight-height.pkl']